.skill-wrapper{
    height: 100%;
}
.skill-heading{
    height: 10%;
    display: flex;
    justify-content: center;
    box-shadow: 0px 1px 0px rgb(0 0 0 / 20%);
}

.skill-content{
    height: 90%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding-left: 5px;
    padding-right: 5px;
}

.skill-row{
    height: 100%;
    align-items: center;
    box-shadow: 0px 1px 0px rgb(0 0 0 / 20%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.skill-name{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.skill-percentage{
    height: 10px;
    width: var(--percent);
    background-color: #229def;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
